@page "/courses"
@attribute [StreamRendering]
@attribute [Authorize]



<PageTitle>Courses</PageTitle>

<section class="courses">
    <div class="container">
        <div class="header">
            <h1>Courses</h1>
            <form id="form-filters">
                <select>
                    <option>All categories</option>
                </select>
                <div class="input-search-group">
                    <input id="searchQuery" name="searchQuery" placeholder="Search courses" />

                </div>
            </form>
        </div>


        <div class="course-items">
            @if (courses == null)
            {
                <p><em>No courses found yet. Please wait...</em></p>
            }
            else
            {
                @foreach (var course in courses)
                {
                    <a class="course" asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id">
                        @if (course.IsBestSeller)
                        {
                            <div class="bestseller">Best Seller</div>
                        }
                        <button class="btn btn-circle bookmark"><i class="fa-regular fa-bookmark"></i></button>

                        <img src="~/images/courses/@course.Image" alt="@course.Title" />

                        <div class="content">
                            <h5 class="title">@course.Title</h5>
                            <p class="author">By @course.Author</p>
                            <div class="pricing">
                                @if (!string.IsNullOrEmpty(course.DiscoundPrice))
                                {
                                    <div class="discount">@course.DiscoundPrice</div>
                                }
                                <div class="price @(!string.IsNullOrEmpty(course.DiscoundPrice)?"discount-enabled" :"")">@course.Price</div>
                            </div>
                            <div class="footer">
                                <div class="hours">
                                    <i class="fa-regular fa-clock"></i> @course.Hourse hours
                                </div>
                                <div class="likes">
                                    <i class="fa-regular fa-thumbs-up"> @course.LikeInProcent (@course.LikeInNumbers)</i>
                                </div>
                            </div>
                        </div>
                    </a>

                }
            }

        </div>

        <section class="level">
            <div class="container">
                <div class="content">
                    <p>Ready to get started?</p>
                    <h3>Take Your <strong>Skills</strong> to the <br> Next Level</h3>
                    <a class="btn btn-theme" asp-action="TaskManagment" asp-controller="Products">Work with us</a>
                </div>
                <img src="~/images/other/levelpic.svg" alt="#">
            </div>
        </section>

    </div>
</section>

@code {
    private CourseModel[]? courses;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            courses = await Http.GetFromJsonAsync<CourseModel[]>(Environment.GetEnvironmentVariable("COURSES_URI"));
        }
        catch (Exception ex) { }

    }

    private class CourseModel
    {
        public int Id { get; set; }
        public bool IsBestSeller { get; set; }
        public string Image { get; set; } = null!;
        public string Title { get; set; } = null!;
        public string Author { get; set; } = null!;
        public string Price { get; set; } = null!;
        public string? DiscoundPrice { get; set; }
        public string Hourse { get; set; } = null!;
        public string LikeInProcent { get; set; } = null!;
        public string LikeInNumbers { get; set; } = null!;
    }
}